<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .mform{
            background: #F5F0E5;
            border:1px solid #F5F0E5;
            margin-left: 300px;
            margin-right: 350px;
            margin-top: 60px;
            box-shadow:20px 20px 10px grey;
            background: white
              }

.box{
	   		 margin-left: 35px;
			font-family: 'Alata', sans-serif;
            text-align:center
 			}

</style>
</head>
<body>
<h1 class="box">
 <label class="text-primary">Login</label></h1><br/>
{% load crispy_forms_tags %}
<form method="post" class="mform">
    {%csrf_token%}
    {{form|crispy}}
    <input type="submit" class="btn btn-primary" / ><br/><br>
    <a href="accounts/signup/" >Don't have an account!!! Sign in</a>
    <p><strong>-- OR --</strong></p>
    <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>

    </form>
</body>
</html>