<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <!-----google font--->
  <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .mform{
            background: #F5F0E5;
            border:0.5px solid #F5F0E5;
            margin-left: 300px;
            margin-right: 350px;
            margin-top: 60px;
            box-shadow:20px 20px 10px grey;
            background: white
              }


              .box{
	   		 margin-left: 35px;
			font-family: 'Alata', sans-serif;
            text-align:center
 			}


</style>
</head>
<body>
{% load crispy_forms_tags %}
<h1 class="box">
    <label class="text-primary">REGISTRATION FORM</label><br/>

</h1>
<form method="post" class="mform">

    {%csrf_token%}
    {{form|crispy}}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6LeguNoUAAAAAHkrlba6LaIyP8KDcm5noUPChVEQ"></div><br/><br/>
    <input type="submit" class="btn btn-primary"/>
    <a href="accounts/login/" >Already have an account? Login </a>
</form>

</body>
</html>